MUnitTest/src/main/mule/recorder.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"


	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"


	xsi:schemaLocation="
                      http://www.mulesoft.org/schema/mule/core
                      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                      http://www.mulesoft.org/schema/mule/ee/core
                      http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
                      http://www.mulesoft.org/schema/mule/http
                      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                      http://www.mulesoft.org/schema/mule/os
                      http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


	<http:listener-config
		doc:name="HTTP Listener config" name="listener_configuration">
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<os:object-store doc:name="Object store"
		name="object_store" />


	<flow name="flow-to-be-tested">
		<http:listener doc:name="Listener" path="/user"
			config-ref="listener_configuration" />


		<logger doc:name="Logger" level="INFO" message="#[message]" />
		<choice doc:name="Choice">
			<when expression="#[attributes.queryParams.name != null]">
				<ee:transform
					doc:name="Transform Message (to be spied)" doc:id="7a24ee45-c488-4c4c-bd7f-621d518f0eac">
					<ee:message>
						<ee:set-payload><![CDATA[payload as Array reduce ($ + $$)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:name="Object Store (to be mocked)"
					key="#[attributes.queryParams.name]" objectStore="object_store" doc:id="814e45b5-ca49-4964-8ef6-3d962ddf69ee">
				</os:store>
				<set-payload doc:name="Set SUCCESS (to be verified)"
					value="SUCCESS" doc:id="5428e04e-c8d7-4816-b610-40b9ed0b7555"/>
			</when>


			<otherwise>
				<set-payload doc:name="Set FAILED (not called)"
					value="FAILED" />
			</otherwise>
		</choice>


		<error-handler>
			<on-error-continue doc:name="On Error Continue"
				type="ANY">
				<set-payload doc:name="Set FAILED (not called)"
					value="FAILED" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>